[Unit]
Description=Kibana
 
[Service]
Type=simple
User={{ kibana_user }}
Group={{ kibana_group }}
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-{{ kibana_default_file }}
ExecStart={{ kibana_home }}/bin/kibana "-c {{ kibana_conf_dir }}/kibana.yml"
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
