[kibana-{{ elastic_branch }}.x]
name=Kibana repository for {{ elastic_branch }}.x packages
baseurl=https://artifacts.elastic.co/packages/{{ elastic_branch }}.x/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
